*{
	box-sizing: border-box;
}
body
{
	background: url('../img/fondo4.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
}
.tablero{
	background-size: cover;
	background-attachment: fixed;
	background-size: cover;
	padding: 0 8%;
	}
.hoja{
	position: absolute;
	padding: 5% 0 5% 5%;
	width: 90%;
}
img{
	width: 100%;
}
h2{
	color: white;
}
#jugador, #movimiento1,#movimiento2{
	color: white;
	font-size: 18px;
}
#jugador{
	margin-left: -43px;
}
@media (max-width:768px){
  #jugador{
	margin-left: 0px;
	font-size: 13px;
	}
  #movimiento1,#movimiento2{
  	font-size: 13px;
  }
  img{
  	width: 100%;
  }
  .col-md-3 {
    padding: 0px !important;
}
}
.infoTablero{
	margin-top: 14%;
}

@media(min-width: 1024px){
	.col-md-3 {
    padding: 0px !important;
    width: 25%;
}
}
