*{
	box-sizing: border-box;
	outline: 1px solid green;
}
body
{
	background: url('../img/fondo4.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
}
.tablero{
	background-size: cover;
	background-attachment: fixed;
	background-size: cover;
	}
.hoja{
	position: absolute;
	padding: 5% 0 5% 5%;
	width: 90%;
}
img{
	width: 85%;
}
h2{
	color: white;
}
#jugador, #movimiento1,#movimiento2{
	color: white;
	font-size: 18px;
}
#jugador{
	margin-left: -43px;
}
@media (max-width:768px){
  #jugador{
	margin-left: 0px;
	font-size: 13px;
	}
  #movimiento1,#movimiento2{
  	font-size: 13px;
  }
  .infoTablero{
  	margin-top: 18px;
  }
  img{
  	width: 100%;
  }
}
.infoTablero{
	margin-top: 14%;
}
